.first-screen
    include ../header/header
    .container
        .left
            h1.title our strong organaisation
            p.text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt.
            a.link(href='#contact') Contact Us
        .right 
            iframe.video(width="560" height="315" src="https://www.youtube.com/embed/CHTlq9AxAf0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
