section.section.team
    h2.section__title Meet our team
    p.section__text.section__text--after Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
