footer.footer
    .footer__container
        p.footer__legal © Copyright @Junaed 2016, All rights reserved.
        nav
            ul.footer__nav-list
                li.footer__nav-item 
                    a(href="twitter.com" class='footer__nav-link')
                        svg(viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" class="footer__svg")
                            use(href="./img/sprites/sprite.svg#twitter" class="footer__use" )
                li.footer__nav-item 
                    a(href="linkedin.com" class='footer__nav-link')
                        svg(viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" class="footer__svg")
                            use(href="./img/sprites/sprite.svg#linkedin" class="footer__use" )
                li.footer__nav-item 
                    a(href="google.com" class='footer__nav-link')
                        svg(viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" class="footer__svg")
                            use(href="./img/sprites/sprite.svg#google-plus" class="footer__use" )
                li.footer__nav-item 
                    a(href="facebook.com" class='footer__nav-link')
                        svg(viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" class="footer__svg")
                            use(href="./img/sprites/sprite.svg#facebook" class="footer__use" )        

