footer.footer
    .footer__container
        p.footer__legal © Copyright @Junaed 2016, All rights reserved.
        nav
            ul.footer__nav-list
                li.footer__nav-item 
                    a(href="twitter.com" class='footer__nav-link')
                        img(src='')
