section.about.section 
    .left.about__left
        h2.section__title do you know we can provide for you?
        p.section__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.
        a.section__link(href='#about_us') Learn More
    .right.about__right
        ul.about__list
            li.about__item
                h3.about-item__title.management Management
                p.about-item__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
            li.about__item
                h3.about-item__title.design UI /UX Design
                p.about-item__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
            li.about__item
                h3.about-item__title.logo Logo / Branding
                p.about-item__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
            li.about__item
                h3.about-item__title.animation Animation
                p.about-item__text Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor        