section.section.subscribe
    .container
        h2.section__title.section__title--center.section__title--white Design tips, tricks, and freebies. Delivered weekly.
        p.section__text.section__text--center.section__text--white Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.
        form.form
            input(type="email" placeholder='Email Address...' )
            input(type='submit' value='subscribe') 

