section.section.contact
    h2.section__title get in touch
    p.section__text.section__text--after Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.

    .contact__content 
        form.contact__form
            input(type="text" class="contact__input name" placeholder="Name")
            input(type="email" class="contact__input email" placeholder="Your Mail")
            textarea.contact__textarea Type your message
            input(type="submit" class="contact__submit" value="send message")
        .contact__info 
            h3.contact__title contact info
            p.contact__address Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh     
            p
                a(href="mailto:redwan@deviserweb.com" class='contact__email') redwan@deviserweb.com 
            p
                a(href="tel:+8801761746373" class="contact__tel") (+88) 017 617 46373